.searchwrap {
	background-image: url('../../../assets/images/porsche-1851246_1920.jpg');
	background-size: auto;
	background-size: cover;
	padding: 100px 0;
	height: 100vh;
	position: relative;
}

.searchwrap::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

.searchwrap h3 {
	text-align: center;
	font-size: 48px;
	color: #fff;
	position: relative;
}

.searchwrap p {
	text-align: center;
	color: #fff;
	font-size: 18px;
	position: relative;
}

.car-search-form-sec {
	margin-top: 90px;
}

.car-search-form {
	box-shadow: 0px 4px 12px -10px #000;
	background-color: #fff;
	border-radius: 10px;
}

.car-search-form .tab-content {
	padding: 42px 30px 20px;
}

.car-search-form .tab-content form button {
	height: 50px;
}

.home-select {
	border-color: #eee;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	line-height: 40px;
	color: #6c757d;
	text-align: left !important;
	white-space: nowrap;
	border-radius: 0;
	height: 50px;
}

.home-select:active {
	border-color: #ff8500;
}

.home-select:focus {
	border-color: #ff8500;
}

.home-btn {
	width: 100%;
	background: #ff8500;
	color: #fff;
	border-radius: 0;
}

.home-btn:hover {
	background: #1c1d1f;
	border-color: #1c1d1f
}


.top-title {
	text-align: center;
	margin-bottom: 40px;
}

.top-title .subtitle {
	font-size: 24px;
	font-weight: 600;
	color: #888;
}

.top-title h3 {
	font-size: 36px;
	font-weight: 500;
	color: #000;
	position: relative;
	margin-bottom: 45px;
}

.top-title h3 span {
	color: #ff8c00;
	font-weight: 200;
}

.top-title h3:after {
	background: #ff8c00;
	width: 80px;
	height: 2px;
	position: absolute;
	left: 50%;
	bottom: -20px;
	content: '';
	margin-left: -40px;
}

.top-title p {
	max-width: 700px;
	margin: 0 auto;
}

.home-card {
	width: auto;
	display: flex;
	flex-shrink: 0;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.07);
}

.card-image {
	margin-bottom: 20px;
	overflow: hidden;
	cursor: pointer;
}

.card-image img {
	width: 100%;
	height: 180px;
	border-radius: 8px 8px 0px 0;
	transition: 0.5s linear;
	object-fit: cover;
}

.card-image:hover img {
	transform: scale(1.1);
}

.card-heading {
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	text-align: center;
}

.card-text {
	padding: 10px 15px;
	background: #fff;
	font-size: 16px;
}

.card-button {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 100%;
	background-color: #ff8c00;
	color: #fff;
	border-radius: 0 0 8px 8px;
	text-decoration: none;
}

.card-button:hover {
	text-decoration: none;
	background-color: #1c1d1f;
	color: #fff;
}

.section-header {
	max-width: 550px;
	margin: 0 auto;
}

.content-wrapper {
	cursor: pointer;
	margin: 0 auto;
	transition: all 0.35s;
	padding: 0 45px;
}

.icon-box {
	font-size: 60px;
	transition: all 0.6s cubic-bezier(0.680, 0, 0.265, 1.550);
}

.content-wrapper:hover .icon-box {
	text-shadow: 2px 2px 15px rgba(0, 46, 91, 0.2);
	transform: rotateY(360deg);
}

.how-it-works .content-wrapper:hover h5 a {
	color: #ff8500;
}

.row>div {
	padding: 0;
	position: relative;
}

.counter-sec-content {
	padding-left: 50px;
	padding-bottom: 30px;
}

.counter-sec-content>h3>i {
	font-size: 24px;
	position: relative;
	top: -3px;
}

.about-counter-sec {
	padding-bottom: 0;
}

.about-img {
	background: url(../../../assets/images/about-bg.jpg) no-repeat left;
	background-size: cover;
	height: 580px;
}

.about-info {
	max-width: 560px;
	padding: 70px 20px 30px 50px;
}

.about-info .title>span {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 20px;
	letter-spacing: 3px;
}

.about-info .title h3 {
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 5px;
}

.about-info p {
	font-size: 14px;
	line-height: 24px;
}

.about-info ul {
	margin-top: 20px;
	list-style: none;
	padding: 0;
}

.about-info ul li {
	margin-top: 15px;
	font-weight: 600;
	position: relative;
}

.about-info ul li>i {
	margin-right: 5px;
}

.make-list {
	list-style: none;
	cursor: pointer;
	padding: 0;
}

.make-list li {
	text-align: center;
	overflow: hidden;
	margin-bottom: 25px;
}

.make-list li a span {
	max-width: 60px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.make-list li a span img {
	height: 60px;
	width: 60px;
	filter: grayscale(100%);
}

.make-list li a span img:hover {
	filter: invert(67%) sepia(100%) saturate(3410%) hue-rotate(359deg) brightness(103%) contrast(108%);
	transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 480px) {
	.home-card {
		width: 100%;
	}
	.make-list li {
		width: 100%;
	}
}

@media only screen and (max-width: 540px) {
	.make-list li {
		width: 50%;
	}
}


