<div class="profile-top-image">
  <img src="../../../../assets/images/subbanner.jpg" alt="">
  <div class="sub-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="sub-header-text-wrapper text-center">
            <h1><span class="text-orange">Мій</span> профіль</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<section class="my-account">
  <main class="form-account-update">
    <div class="d-flex justify-content-center" *ngIf="formInitialized">
      <form [formGroup]="memberForm" (ngSubmit)="submit()">
        <div class="form-floating mb-3">
          <input formControlName="firstName" type="text" placeholder="First Name" class="form-control"
            [class.is-invalid]="submitted && memberForm.get('firstName')?.errors">
          <label for="firstName">First name</label>
          <span class="text-danger" *ngIf="submitted && memberForm.get('firstName')?.hasError('required')">
            First name is required
          </span>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control"
            [class.is-invalid]="submitted && memberForm.get('lastName')?.errors">
          <label for="lastName">Last name</label>
          <span class="text-danger" *ngIf="submitted && memberForm.get('lastName')?.hasError('required')">
            Last name is required
          </span>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="userName" type="text" placeholder="Username" class="form-control"
            [class.is-invalid]="submitted && memberForm.get('userName')?.errors">
          <label for="userName">Username</label>
          <span class="text-danger" *ngIf="submitted && memberForm.get('userName')?.hasError('required')">
            Username is required
          </span>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="phoneNumber" type="text" placeholder="Phone number" class="form-control"
            [class.is-invalid]="submitted && memberForm.get('phoneNumber')?.errors">
          <label for="phoneNumber">Номер телефону</label>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="password" type="text" placeholder="Password" class="form-control"
            [class.is-invalid]="submitted && memberForm.get('password')?.errors" (change)="passwordOnChange()">
          <label for="password">Password</label>
          <span class="text-danger" *ngIf="submitted && memberForm.get('password')?.hasError('required')">
            Password is required
          </span>
          <span class="text-danger" *ngIf="submitted && 
    memberForm.get('password')?.hasError('minlength') || memberForm.get('password')?.hasError('maxlength')">
            Password must be at least 6, and maximum 15 characters
          </span>
        </div>

        <div class="form-floatin" *ngIf="errorMessages.length > 0">
          <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
        </div>

        <div class="row my-4">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-block btn-info" type="submit">
                Оновити
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-block btn-danger" type="button" routerLink="/admin">
                Back to list
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </main>
</section>-->

<section class="user-cars-section section">
  <div class="profile-content">
    <div class="container">
      <div class="profile-settings">
        <h3>Ваші оголошення</h3>
      </div>
      <div class="user-cars">
        <table class="user-cars-table table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Марка</th>
              <th scope="col">Модель</th>
              <th scope="col">VIN</th>
              <th scope="col">Редагувати | Видалити</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="cars.length === 0">
              <td colspan="7" class="text-center">Ще немає оголошень</td>
            </tr>

            <tr *ngFor="let car of cars">
              <td scope="row">{{car.id}}</td>
              <td scope="row">{{car.makeName}}</td>
              <td scope="row">{{car.modelName}}</td>
              <td scope="row">{{car.vin}}</td>
              <td scope="row">
                <button class="btn btn-primary btn-sm me-2" routerLink="/car/car-update/{{car.id}}">
                  Редагувати
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteCar(car.id, template)">
                  Видалити
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #template>
          <div class="modal-body text-center">
            <p>Ви точно хочете видалити це оголошення?</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Так</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Ні</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</section>