<footer class="footer mt-auto">
    <div class="container">
        <div class="row">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">AutoMarket</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p>
                                "AutoMarket USA" - це онлайн-сервіс, який пропонує користувачам широкий вибір
                                автомобілів на вторинному ринку США. Ми розуміємо, наскільки важливо знайти ідеальне
                                авто, що відповідає вашим потребам і бажанням. Наша місія - зробити процес вибору
                                автомобіля простим, зручним і захоплюючим.
                            </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Products</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p>
                                <a href="#!">MDBootstrap</a>
                            </p>
                            <p>
                                <a href="#!">MDWordPress</a>
                            </p>
                            <p>
                                <a href="#!">BrandFlow</a>
                            </p>
                            <p>
                                <a href="#!">Bootstrap Angular</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p>
                                <a href="#!">Your Account</a>
                            </p>
                            <p>
                                <a href="#!">Become an Affiliate</a>
                            </p>
                            <p>
                                <a href="#!">Shipping Rates</a>
                            </p>
                            <p>
                                <a href="#!">Help</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p><i class="bi bi-house-door-fill"></i> Rivne, UA</p>
                            <p><i class="bi bi-envelope-check"></i> vadim6917012@gmail.com</p>
                            <p><i class="bi bi-telephone-fill"></i> +380 677 22 536</p>
                            <p><i class="bi bi-telephone-fill"></i> +380 677 22 536</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <a routerLink="/">© AutoMarket-USA - {{currentYear}} | Всі права захищені</a>
    </div>
</div>