<div class="wrapper">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-5">
            <main class="form-carAdd">
                <form [formGroup]="addCarForm" (ngSubmit)="addCar()" autocomplete="off">
                    <div class="text-center mb-4">
                        <h3 class="mb-3 font-weight-normal">Додати машину</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <select formControlName="countryId" class="form-select" >
                            <option selected value="0">Країна виробник</option>
                            <option *ngFor="let county of countries" [value]="county.id">{{county.name}}</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <select formControlName="makeId" class="form-select">
                            <option selected value="0">Марка</option>
                            <option *ngFor="let make of filteredMakes" [value]="make.id">{{make.name}}</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <select formControlName="modelId" class="form-select">
                            <option selected value="0">Модель</option>
                            <option *ngFor="let model of filteredModels" [value]="model.id">{{model.name}}</option>
                        </select>
                        <!-- <input formControlName="modelId" type="number" placeholder="Модель" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('modelId')?.errors">
                        <label for="modelId">Модель</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('modelId')?.hasError('required')">
                            Модель обов'язкова
                        </span> -->
                    </div>
                    <div class="form-floating mb-3">
                        <select formControlName="generationId" class="form-select">
                            <option selected value="0">Покоління</option>
                            <option *ngFor="let generation of filteredGenerations" [value]="generation.id">{{generation.name}}</option>
                        </select>
                        <!-- <input formControlName="generationId" type="number" placeholder="Покоління" 
                            [class.is-invalid]="submitted && addCarForm.get('generationId')?.errors">
                        <label for="generationId">Покоління</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('generationId')?.hasError('required')">
                            Покоління обов`язкове
                        </span> -->
                    </div>
                    <div class="form-floating mb-3">
                        <select formControlName="modificationId" class="form-select">
                            <option selected value="0">Модифікація</option>
                            <option *ngFor="let modification of filteredModifications" [value]="modification.id">{{modification.name}}</option>
                        </select>
                        <!-- <input formControlName="modificationId" type="number" placeholder="Модифікація" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('modificationId')?.errors">
                        <label for="modificationId">Модифікація</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('modificationId')?.hasError('required')">
                            Модифікація обов`язкова
                        </span> -->
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="vin" type="text" placeholder="VIN" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('vin')?.errors">
                        <label for="vin">VIN</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('vin')?.hasError('required')">
                            VIN обов`язкове
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="bodyTypeId" type="number" placeholder="Тип кузова" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('bodyTypeId')?.errors">
                        <label for="bodyTypeId">Тип кузова</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('bodyTypeId')?.hasError('required')">
                            Тип кузоав обов'язковий
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="gearBoxTypeId" type="number" placeholder="Тип коробки передач" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('gearBoxId')?.errors">
                        <label for="gearBoxTypeId">Тип коробки передач</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('gearBoxTypeId')?.hasError('required')">
                            Тип коробки передач обов`язковий
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="fuelTypeId" type="number" placeholder="Тип палива" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('fuelTypeId')?.errors">
                        <label for="fuelTypeId">Тип палива</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('fuelTypeId')?.hasError('required')">
                            Тип палива обов`язковий
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="year" type="number" placeholder="Рік" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('year')?.errors">
                        <label for="year">Рік</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('year')?.hasError('required')">
                            Рік обов'язковий
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="price" type="number" placeholder="Ціна" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('price')?.errors">
                        <label for="price">Ціна</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('price')?.hasError('required')">
                            Ціна обов`язкова
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="mileage" type="number" placeholder="Пробіг" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('mileage')?.errors">
                        <label for="mileage">Пробіг</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('mileage')?.hasError('required')">
                            Пробіг обов`язковий
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="description" type="text" placeholder="Опис" class="form-control"
                            [class.is-invalid]="submitted && addCarForm.get('description')?.errors">
                        <label for="vin">Опис</label>
                        <span class="text-danger" *ngIf="submitted && addCarForm.get('description')?.hasError('required')">
                            Опис обов'язковий
                        </span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="file" id="images" name="images" (change)="onImagesSelected($event)" class="form-control" multiple>
                        <label for="images">Фотографії</label>
                    </div>
    
                    <div class="form-floating" *ngIf="errorMessages.length > 0">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>

                    <div class="d-grid mt-4 px-1">
                        <button class="btn btn-lg" type="submit">Додати машину</button>
                    </div>

                </form>
            </main>
        </div>
    </div>
</div>
