<div class="sub-header">
  <img src="../../../../assets/images/subbanner.jpg" alt="sub-banner">
  <div class="sub-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="sub-header-text-wrapper text-center">
            <h1><span class="text-orange">Пошук</span> автомобіля</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section car-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="search-filter-options">
          <div class="d-flex justify-content-between row align-items-end">
            <div class="col-lg-3 col-md-6">
              <div class="products-ordering-list"> <span>Ціна</span>
                <select [(ngModel)]="selectedSortOption" class="form-select car-list-select shadow-none"
                  [ngModelOptions]="{standalone: true}">
                  <option value="" disabled selected>Сортувати за ціною</option>
                  <option value="default" (click)="sortCars()">За замовчуванням</option>
                  <option value="asc" (click)="sortCars()">За зростанням</option>
                  <option value="desc" (click)="sortCars()">За спаданням</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="filter-by-grid-list"> <span>View As</span>
                <div class="filter-tab-area">
                  <ul class="nav nav-tabs" role="tablist">
                    <li> <a (click)="toggleView('grid')" data-toggle="tab" aria-selected="false"><i [class.active]="selectedView === 'grid'"
                           class="bi bi-border-all"></i></a>
                    </li>
                    <li> <a  (click)="toggleView('list')" data-toggle="tab" aria-selected="true"><i [class.active]="selectedView === 'list'"
                           class="bi bi-border-width"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-content">
      <div *ngIf="isListView === true" id="listing_list" class="tab-pane active">
        <div class="row">
          <div class="col-lg-8">

            <ng-container *ngIf="carInfo.length === 0">
              <p>Ще немає оголошень</p>
            </ng-container>

            <div class="car-model-layout-list" *ngFor="let car of carInfo">
              <div class="car-thumbnail-area">
                <div class="item-thumb">
                  <img src="{{car.imagesPath[0]}}" class="img-fluid full-width" alt="image">
                </div>
                <div class="car-overlay-info">
                  <div class="car-type luxury">Luxury</div>
                </div>
              </div>
              <div class="car-description-area">
                <div class="car-description-content">
                  <h5 class="title"><a routerLink="/car/car-details/{{car.id}}" class="text-light-black">{{car.makeName}} {{car.modelName}}
                      {{car.generationName}}</a></h5>
                  <div class="car-rating">
                    <div class="rating-value">
                      <p><i class="bi bi-fuel-pump-fill"></i> {{car.fuelTypeName}}</p>
                    </div>
                    <div class="rating-icon">
                      <p>${{car.price}}</p>
                    </div>
                  </div>
                  <div class="car-meta">
                    <div class="car-modification">
                      {{car.modificationName}}
                    </div>
                    <div class="car-number">
                      VIN: {{car.vin}}
                    </div>
                  </div>
                  <div class="car-summary">
                    <p>{{car.description | slice:0:124}}</p>
                  </div>
                </div>
                <div class="car-description-footer">
                  <a routerLink="/car/car-details/{{car.id}}" class="view btn-car">Детальніше</a>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-lg-4">
            <div class="side-search-bar">
              <div class="title-icon">
                <h5 class="title"><i class="bi bi-search"></i> Фільтр</h5>
              </div>
              <div class="widget-search-filter">
                <div class="widget-content">
                  <form [formGroup]="carFilter" (ngSubmit)="filter()" autocomplete="off">
                    <div class="form-group mb-3">
                      <select formControlName="makeId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати марку</option>
                        <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="modelId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати модель</option>
                        <option *ngFor="let model of filteredModels" [value]="model.id">{{model.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="generationId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати покоління</option>
                        <option *ngFor="let generation of filteredGenerations" [value]="generation.id">{{generation.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="modificationId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати модифікацію</option>
                        <option *ngFor="let modification of filteredModifications" [value]="modification.id">{{modification.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="bodyTypeId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати тип кузова</option>
                        <option *ngFor="let bodyType of bodytypes" [value]="bodyType.id">{{bodyType.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="driveTrainId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати тип приводу</option>
                        <option *ngFor="let drivetrain of drivetrains" [value]="drivetrain.id">{{drivetrain.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="technicalConditionId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати тип технічного стану</option>
                        <option *ngFor="let technicalCondition of technicalconditions" [value]="technicalCondition.id">{{technicalCondition.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="gearBoxTypeId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати тип коробки передач</option>
                        <option *ngFor="let gearbox of gearboxes" [value]="gearbox.id">{{gearbox.name}}</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <select formControlName="fuelTypeId" class="car-list-filter-select form-control shadow-none">
                        <option value="" selected>Обрати тип палива</option>
                        <option *ngFor="let fueltype of fueltypes" [value]="fueltype.id">{{fueltype.name}}</option>
                      </select>
                    </div>
                    <div class="form-group d-flex mb-3">
                      <div class="input-wrap mr-3">
                        <label for="price-input">Рік від:</label>
                        <input type="text" placeholder="Рік від" id="price-input" class="form-control shadow-none car-list-filter-select">
                      </div>
                      <div class="input-wrap">
                        <label for="price-input">Рік до:</label>
                        <input type="text" placeholder="Рік до" class="form-control shadow-none car-list-filter-select">
                      </div>
                    </div>
                    <div class="form-group d-flex mb-3">
                      <div class="input-wrap mr-3">
                        <label for="price-input">Пробіг від:</label>
                        <input type="text" placeholder="Пробіг від" id="price-input" class="form-control shadow-none car-list-filter-select">
                      </div>
                      <div class="input-wrap">
                        <label for="price-input">Пробіг до:</label>
                        <input type="text" placeholder="Пробіг до" class="form-control shadow-none car-list-filter-select">
                      </div>
                    </div>
                    <div class="form-group d-flex mb-3">
                      <div class="input-wrap mr-3">
                        <label for="price-input">Ціна від:</label>
                        <input type="text" placeholder="$" id="price-input" class="form-control shadow-none car-list-filter-select">
                      </div>
                      <div class="input-wrap">
                        <label for="price-input">Ціна до:</label>
                        <input type="text" placeholder="$" class="form-control shadow-none car-list-filter-select">
                      </div>
                    </div>
                    <div class="form-submit text-center">
                      <button type="submit" class="btn car-list-btn">Фільтрувати</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div *ngIf="isListView === false" id="listing-grid" class="tab-pane active">
        <div class="row">
          <div class="col-md-9 col-sm-7">
            <div class="col-md-4 col-sm-6" *ngFor="let car of carInfo">
              <div class="car-card text-center">
                  <div class="car-title">
                    <h4 class="text-light-black">{{car.makeName}}</h4>
                    <h5 class="text-light-black">{{car.modelName}} {{car.generationName}}</h5>
                  </div>
                  <img src="{{car.imagesPath[0]}}" class="img-fluid full-width" alt="Car Model Image">
                  <div class="car-details-grid">
                    <div class="card-text d-flex justify-content-between">
                      <span class="text-dark-white"><i class="bi bi-cash text-orange me-2"></i>${{car.price}}</span>
                      <span class="text-dark-white"><i class="bi bi-car-front text-orange me-2"></i>{{car.year}}</span>
                    </div>
                    <div class="card-text d-flex justify-content-between">
                      <span class="text-dark-white"><i class="bi bi-speedometer2 text-orange me-2"></i>{{car.mileage}} км</span>
                      <span class="text-dark-white"><i class="bi bi-fuel-pump text-orange me-2"></i>{{car.fuelTypeName}}</span>
                    </div>
                  </div>
                  <a routerLink="/car/car-details/{{car.id}}" class="btn car-grid-btn">Детальніше</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <nav class="custom-pagination">
          <ul class="pagination">
            <li class="page-item "><a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>