<div class="d-flex justify-content-center" *ngIf="formInitialized">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="generationForm" (ngSubmit)="submit()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">
                        <span class="text-warning" *ngIf="addNew">Додати</span>
                        <span class="text-warning" *ngIf="!addNew">Редагувати</span>
                        покоління
                    </h3>
                </div>

                <div class="form-floating mb-3 col-md-12">
                    <select formControlName="modelId" class="form-select shadow-none">
                        <option selected disabled value="">Модель</option>
                        <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
                    </select>
                    <span class="text-danger" *ngIf="submitted && generationForm.get('modelId')?.hasError('required')">
                        Модель обов'язкова
                    </span>
                </div>

                <div class="form-floating col-md-12 mb-3">
                    <input formControlName="name" type="text" placeholder="Name" class="form-control"
                        [class.is-invalid]="submitted && generationForm.get('name')?.errors">
                    <label for="name">Назва</label>
                    <span class="text-danger" *ngIf="submitted && generationForm.get('name')?.hasError('required')">
                        Назва обов'язкове
                    </span>
                </div>

                <div class="form-floating mb-3 col-md-12">
                    <input formControlName="yearFrom" type="number" placeholder="Рік від" class="form-control shadow-none"
                        [class.is-invalid]="submitted && generationForm.get('year')?.errors">
                    <label for="yearFrom">Рік від</label>
                    <span class="text-danger" *ngIf="submitted && generationForm.get('yearFrom')?.hasError('required')">
                        Рік від обов'язковий
                    </span>
                </div>

                <div class="form-floating mb-3 col-md-12">
                    <input formControlName="yearTo" type="number" placeholder="Рік до" class="form-control shadow-none"
                        [class.is-invalid]="submitted && generationForm.get('yearTo')?.errors">
                    <label for="yearTo">Рік до</label>
                    <span class="text-danger" *ngIf="submitted && generationForm.get('yearTo')?.hasError('required')">
                        Рік до обов'язковий
                    </span>
                </div>

                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>

                <div class="row my-4">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-info" type="submit">
                                {{addNew ? 'Додати' : 'Оновити'}} Покоління
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button" routerLink="/admin">
                                Назад
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </main>
    </div>
</div>
