<div class="profile-top-image">
  <img src="../../../../assets/images/subbanner.jpg" alt="profile-image">
  <div class="sub-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="sub-header-text-wrapper text-center">
            <h1><span class="text-orange">Особистий</span> кабінет</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="user-cars-section section">
  <div class="profile-content">
    <div class="container">
      <div class="profile-settings">
        <h3>Особиста інформація</h3>
      </div>
      <main class="form-account-update user-cars p-3">
        <div *ngIf="formInitialized">
          <form [formGroup]="memberForm" (ngSubmit)="submit()">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Ім'я</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input formControlName="firstName" type="text" placeholder="First Name" class="form-control shadow-none"
                  [class.is-invalid]="submitted && memberForm.get('firstName')?.errors">
                <span class="text-danger" *ngIf="submitted && memberForm.get('firstName')?.hasError('required')">
                  Ім'я обов'язково
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Прізвище</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control shadow-none"
                  [class.is-invalid]="submitted && memberForm.get('lastName')?.errors">
                <span class="text-danger" *ngIf="submitted && memberForm.get('lastName')?.hasError('required')">
                  Прізвище обов'язково
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input formControlName="userName" type="text" placeholder="Username" class="form-control shadow-none "
                  [class.is-invalid]="submitted && memberForm.get('userName')?.errors">
                <span class="text-danger" *ngIf="submitted && memberForm.get('userName')?.hasError('required')">
                  Email обов'язково
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Номер</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input formControlName="phoneNumber" type="text" placeholder="Phone number" class="form-control shadow-none"
                  [class.is-invalid]="submitted && memberForm.get('phoneNumber')?.errors">
              </div>
            </div>

            <div class="form-floatin" *ngIf="errorMessages.length > 0">
              <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>

            <div class="row my-4">
                <div class="d-flex justify-content-center">
                  <button class="btn center btn-user-upd" type="submit">
                    Оновити
                  </button>
                </div>
            </div>

          </form>
        </div>
      </main>
    </div>
  </div>
</section>

<section class="user-cars-section section">
  <div class="profile-content">
    <div class="container">
      <div class="profile-settings">
        <h3>Ваші оголошення</h3>
      </div>
      <div class="user-cars">
        <table class="user-cars-table table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Марка</th>
              <th scope="col">Модель</th>
              <th scope="col">VIN</th>
              <th scope="col">Редагувати | Видалити</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="cars.length === 0">
              <td colspan="7" class="text-center">Ще немає оголошень</td>
            </tr>

            <tr *ngFor="let car of cars">
              <td scope="row">{{car.id}}</td>
              <td scope="row">{{car.makeName}}</td>
              <td scope="row">{{car.modelName}}</td>
              <td scope="row">{{car.vin}}</td>
              <td scope="row">
                <button class="btn btn-primary btn-sm me-2" routerLink="/car/car-update/{{car.id}}">
                  Редагувати
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteCar(car.id, template)">
                  Видалити
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #template>
          <div class="modal-body text-center">
            <p>Ви точно хочете видалити це оголошення?</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Так</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Ні</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</section>