.active {
    background-color: #5dc302 !important;
    color: #fff !important;
    text-decoration: none;
}

header {
    padding: 10px 0;
    background: none;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    width: 190px;
    text-decoration: none;
}

.navbar-nav>li {
	padding: 0 5px;
}

.navbar-nav>.auth-btn>a {
    background: #2f3b3e;
    color: #fff;
}

.navbar-nav>.auth-btn:hover>a, .navbar-nav>.auth-btn>a:hover {
    background: #5dc302;
	color: #fff;
    text-decoration: none;
    transition: 1s ease-in-out;
}

.navbar-nav>li>a {
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 5px;
}

.navbar-nav>li>a:hover, .navbar-nav>li:hover>a {
	background: #5dc302;
	color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar-collapse.in {
	overflow: inherit;
	height: auto;
	padding: 0 15px;
}



