<div class="car-details-page section content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <div class="car-details-content-header d-flex justify-content-xxl-between">
                        <div class="pull-left">
                            <h3>{{car?.makeName}} {{car?.modelName}}</h3>
                        </div>
                        <div class="pull-right">
                            <h3>$ {{car?.price}}</h3>
                        </div>
                    </div>
                    <div class="car-slider-box">
                        <owl-carousel-o id="slider" [options]="customOptions">
                            <ng-container>
                                <ng-template carouselSlide *ngFor="let image of car?.imagesPath">
                                    <img [src]="image" alt="">
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
                <div class="car-details-description">
                    <div class="title-icon">
                        <h3>Опис</h3>
                    </div>
                    <div class="details-description-content">
                        {{car?.description}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <div class="title-icon">
                        <h5 class="title"><i class="bi bi-wrench"></i> Деталі</h5>
                    </div>
                    <div class="sidebar-content">
                        <ul>
                            <li>
                                <span>Покоління:</span>{{car?.generationName}}
                            </li>
                            <li>
                                <span>Рік:</span>{{car?.year}}
                            </li>
                            <li>
                                <span>Модифікація:</span>{{car?.modificationName}}
                            </li>
                            <li>
                                <span>VIN:</span>{{car?.vin}}
                            </li>
                            <li>
                                <span>Пробіг:</span>{{car?.mileage}} км
                            </li>
                            <li>
                                <span>Коробка передач:</span>{{car?.gearBoxTypeName}}
                            </li>
                            <li>
                                <span>Кузов:</span>{{car?.bodyTypeName}}
                            </li>
                            <li>
                                <span>Технічний стан:</span>{{car?.technicalConditionName}}
                            </li>
                            <li>
                                <span>Тип палива:</span>{{car?.fuelTypeName}}
                            </li>
                            <li>
                                <span>Тип приводу:</span>{{car?.driveTrainName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-right">
                    <div class="title-icon">
                        <h5 class="title"><i class="bi bi-wrench"></i> Є запитання?</h5>
                    </div>
                    <div class="sidebar-content">
                        <ul class="contact-info">
                            <li>
                                <i class="bi bi-geo-alt-fill"></i>Rivne, UA
                            </li>
                            <li>
                                <i class="bi bi-envelope-fill"></i><a
                                    href="mailto:{{car?.userEmail}}">{{car?.userEmail}}</a>
                            </li>
                            <li>
                                <i class="bi bi-telephone-fill"></i><a href="tel:{{car?.userPhoneNumber}}">{{car?.userPhoneNumber}}</a>
                            </li>
                            <li>
                                <i class="bi bi-telephone-fill"></i><a>{{car?.dateCreated | date}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>