header {
    padding: 10px 0;
}

.active {
    background-color: #5dc302 !important;
    color: #fff !important;
    text-decoration: none;
}

.brand {
    width: 190px;
}

.navbar {
    background: none;
    color: #333;
}

.navbar-nav>li {
	padding: 0 5px;
}
.navbar-nav>li>a {
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 5px;
}

.navbar-nav>li>a:hover, .navbar-nav>li:hover>a {
	background: #5dc302;
	color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
