<footer class="footer mt-auto">
    <div class="container">
        <div class="row">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">AutoMarket</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p>
                                "AutoMarket USA" - це онлайн-сервіс, який пропонує користувачам широкий вибір
                                автомобілів на вторинному ринку США. Ми розуміємо, наскільки важливо знайти ідеальне
                                авто, що відповідає вашим потребам і бажанням. Наша місія - зробити процес вибору
                                автомобіля простим, зручним і захоплюючим.
                            </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Мапа сайту</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p>
                                <a routerLink="/">Головна</a>
                            </p>
                            <p>
                                <a routerLink="/car/car-list">Пошук авто</a>
                            </p>
                            <p>
                                <a href="#!">Зв'язатися з нами</a>
                            </p>
                            <p>
                                <a href="#!">Про нас</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Корисне</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <ng-container *ngIf="(accountService.user$ | async) === null">
                                <p>
                                    <a routerLink="/account/register">Створити акаунт</a>
                                </p>
                                <p>
                                    <a routerLink="/account/login">Увійти в особистий кабінет</a>
                                </p>
                            </ng-container>
                            <ng-container *ngIf="(accountService.user$ | async) as user">
                                <p>
                                    <a routerLink="/account/profile/{{user.id}}">Особистий кабінет</a>
                                </p>
                                <p>
                                    <a routerLink="/car/car-add">Подати оголошення</a>
                                </p>
                            </ng-container>
                            <p>
                                <a href="#!">Допомога</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Контакти</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #ff8500; height: 2px" />
                            <p><i class="bi bi-house-door-fill"></i><a href=""> Rivne, UA</a></p>
                            <p><i class="bi bi-envelope-check"></i><a href="mailto:vadym.radchuk@oa.edu.ua">
                                    vadym.radchuk@oa.edu.ua</a></p>
                            <p><i class="bi bi-telephone-fill"></i><a href="tel:+380677722536"> +38-067-772-25-36</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <a routerLink="/">© AutoMarket-USA - {{currentYear}} | Всі права захищені</a>
    </div>
</div>