<div class="members">
    <div class="container">
        <div class="my-3">
            <a class="btn btn-outline-primary" routerLink="/admin/add-edit-member">Створити користувача</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date created</th>
                    <th>Roles</th>
                    <th class="text-center">Редагувати / Видалити</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="members.length === 0">
                    <td colspan="7" class="text-center">Немає ще користувачів</td>
                </tr>
        
                <tr *ngFor="let member of members">
                    <td>{{member.userName}}</td>
                    <td>{{member.firstName | titlecase}}</td>
                    <td>{{member.lastName | titlecase}}</td>
                    <td>{{member.dateCreated | date}}</td>
                    <td>
                        <span *ngFor="let role of member.roles; let i = index">
                            {{role}}<span *ngIf="i + 1 < member.roles.length">, </span>
                        </span>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-sm me-2" routerLink="/admin/add-edit-member/{{member.id}}">
                            Редагувати
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteMember(member.id, template)">
                            Видалити
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <ng-template #template>
            <div class="modal-body text-center">
                <p>Ви впевненні, що хочете видалити цього користувача {{memberToDelete?.userName}}?</p>
                <button type="button" class="btn btn-default" (click)="confirmMember()">Так</button>
                <button type="button" class="btn btn-primary" (click)="declineMember()">Ні</button>
            </div>
        </ng-template>
    </div>
</div>

<div class="generations">
    <div class="container">
        <div class="my-3">
            <a class="btn btn-outline-primary" routerLink="/admin/add-edit-generation">Створити покоління</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th>Name</th>
                    <th>Year From</th>
                    <th>Year To</th>
                    <th class="text-center">Редагувати / Видалити</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="generations.length === 0">
                    <td colspan="7" class="text-center">Немає поколінь</td>
                </tr>
        
                <tr *ngFor="let generation of generations">
                    <td>{{generation.name | titlecase}}</td>
                    <td>{{generation.yearFrom }}</td>
                    <td>{{generation.yearTo}}</td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-sm me-2" routerLink="/admin/add-edit-generation/{{generation.id}}">
                            Редагувати
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteGeneration(generation.id, template)">
                            Видалити
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <ng-template #template>
            <div class="modal-body text-center">
                <p>Ви впевненні, що хочете видалити це покоління?</p>
                <button type="button" class="btn btn-default" (click)="confirmGeneration()">Так</button>
                <button type="button" class="btn btn-primary" (click)="declineGeneration()">Ні</button>
            </div>
        </ng-template>
    </div>
</div>
