    <div class="modification">
        <div class="container">
            <div class="my-3">
                <a class="btn btn-outline-primary" routerLink="/admin/add-edit-modification">Створити модифікацію</a>
            </div>
            
            <table class="table">
                <thead>
                    <tr class="table-light">
                        <th>Назва</th>
                        <th class="text-center">Редагувати / Видалити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="modifications.length === 0">
                        <td colspan="7" class="text-center">Немає модифікацій</td>
                    </tr>
            
                    <tr *ngFor="let modification of modifications">
                        <td>{{modification.name | titlecase}}</td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm me-2" routerLink="/admin/add-edit-modification/{{modification.id}}">
                                Редагувати
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteModification(modification.id, template)">
                                Видалити
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <ng-template #template>
                <div class="modal-body text-center">
                    <p>Ви впевненні, що хочете видалити цю модифікацію?</p>
                    <button type="button" class="btn btn-default" (click)="confirmModification()">Так</button>
                    <button type="button" class="btn btn-primary" (click)="declineModification()">Ні</button>
                </div>
            </ng-template>
        </div>
    </div>
