<div class="d-flex justify-content-center" *ngIf="token && email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" class="form-signin" (ngSubmit)="resetPassword()" autocomplete="off">
                <div class="text-center mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        Змінити ваш пароль
                    </h1>
                </div>

                <div class="form-floating mb-3">
                    <input formControlName="email" type="text" placeholder="Email" class="form-control">
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="password" placeholder="Новий пароль" class="form-control"
                    [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
                    <label for="newPassword">Новий пароль</label>
                    <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
                        Пароль обов`язкове
                    </span>
                    <span class="text-danger" *ngIf="submitted && 
                        resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength')">
                        Пароль повинне бути від 6 до 15 символів
                    </span>
                </div>

                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit">Змінити пароль</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="button" routerLink="/account/login">Відмінити</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>